// Colors
$white: #ffffff;
$slate: #1d1f1f;
$victory-red: #ba172b;

// Viewports
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 320px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 1024px;
